.App {
    text-align: center;
    width: 100vw;
    height: 100vh;
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #F2CD5D;
}

h2 {
    color: #F2CD5D;
}

.word-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.word-card {
    padding: 16px;
    margin: 8px;
    border-radius: 8px;
}

.word-card .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.word-card button {
    flex: 1 1 calc(25% - 16px); /* Each button takes up 25% minus margin */
    margin: 4px;
    padding: 16px;
    height: 100px; /* Fixed height for buttons */
    border: none;
    border-radius: 8px;
    font-size: 2em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.epic {
    background-color: gold;
    color: rgb(64, 54, 0);
}

button.good {
    background-color: silver;
    color: rgb(48, 48, 48);
}

button.fail {
    background-color: hsl(30, 61%, 50%);
    color: hsl(30, 61%, 12.5%);
}

button.veto {
    background-color: hsl(0, 100%, 50%);
    color: hsl(0, 100%, 12.5%);
}

button.veto:disabled {
    opacity: 0.2;
}

@media (max-width: 600px) {
    .word-card button {
        flex: 1 1 calc(50% - 16px); /* Adjust for smaller screens */
    }
}